@font-face {
    font-family: 'Aller Display';
    src: url('../fonts/AllerDisplay.eot') format('eot'), url('../fonts/AllerDisplay.woff') format('woff'), url('../fonts/AllerDisplay.ttf') format('truetype'), url('../fonts/AllerDisplay.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
