@font-face {
    font-family: 'CfCrackBold';
    src: url('../fonts/cfcrackandbold.eot?') format('eot'), url('../fonts/cfcrackandbold.woff') format('woff'), url('../fonts/cfcrackandbold.ttf') format('truetype'), url('../fonts/cfcrackandbold.svg#cfcrackandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
