@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact.eot?') format('eot'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg#impact') format('svg');
    font-weight: normal;
    font-style: normal;
}
