@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --background: #24223e;
    --sidebarcolor1: #11101d;
    --sidebarcolor2: #fff;
    --textcolor: #fff;
}

/* Generic CSS */

body {
    background-color: var(--background);
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Contains CSS for the Sidebar AKA: Navigation Bar */

.sidebar {
    position: fixed;
    height: 100%;
    width: 78px;
    top: 0;
    left: 0;
    background: var(--sidebarcolor1);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: var(--sidebarcolor2);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: var(--sidebarcolor2);
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    color: var(--sidebarcolor2);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: var(--sidebarcolor1);
    background: var(--sidebarcolor2);
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

/* Contains CSS for Content on the Homepage */

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: 100%;
}

.home_content h1 {
    text-align: center;
    margin-top: 15%;
    font-size: 3em;
    color: var(--textcolor);
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}

.home_content .wrapper {
    display: grid;
    place-items: center;
}

.home_content .typing {
    width: 58ch;
    animation: typing 4s steps(58), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    font-family: 'Poppins';
    color: var(--textcolor);
}

/* Keyframes for typing animation on the homepage */

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Contains CSS for Content on the Settings Page */

.settings_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.sidebar.active ~ .settings_content {
    width: calc(100% - 240px);
    left: 240px;
}

.sidebar.active ~ .settings_content .nav {
    left: 240px;
}

.settings_content .nav {
    position: fixed;
    height: 100%;
    width: 78px;
    top: 0;
    left: 78px;
    background: var(--sidebarcolor1);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.settings_content ul li {
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.settings_content ul li a {
    color: var(--sidebarcolor2);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.settings_content ul li a:hover {
    color: var(--sidebarcolor1);
    background: var(--sidebarcolor2);
}

.settings_content ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.settings_content h1 {
    text-align: center;
    margin-top: 7%;
    font-size: 3em;
    color: var(--textcolor);
}

.settings_content h2 {
    margin-top: 20px;
    font-size: 40px;
    color: var(--textcolor);
}

.settings_content h3 {
    margin-top: 40px;
    font-size: 40px;
    color: var(--textcolor);
}

.settings_content select {
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

button{
    width:90px;
    height: 50px;
    margin-left:25%;
    margin-right:25%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid var(--textcolor);
    background: transparent;
    color: var(--textcolor);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

button:hover{
    -webkit-transition: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1.5s ease;
    text-decoration: none;
}

a{
    color: var(--textcolor);
}
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }